$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;

$white-color: #ffffff;
$text-color: #0e0e0e;
$second-text-color: #939393;
$accent-color: #dc56c5;
$modal-accent-color: #4c00fe;
$card-line-decor: rgba(220, 86, 197, 0.3);
$bg-modal-color: #fff2fd;
$bg-header-color: rgba(11, 11, 11, 0.5);


