$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;

$main-font: 'Montserrat', sans-serif;

$accent-color: #dc56c5;
$main-white-color: #ffffff;
$main-text-color: #0e0e0e;
$accent-modal-color: #4c00fe;
$search-text-color: #939393;
$card-line-color: rgba(220, 86, 197, 0.3);
$bg-modal-color: #fff2fd;