

    
<div class="modal__backdrop is-hiddenn" data-modal>
<div class="modal__container">
<button class="modal__esc">x</button>
    <div class="modal__small-poster"> </div>
    <div class="container__event_card">
        <div class="modal__big-img"><img src="./images/pic1.png"></div>
        <div class="modal__text-container">
        <h2 class="modal__h1">INFO</h2>
        <p class="modal__p">Atlas Weekend is the largest music festival in Ukraine.More than 200 artists will create a proper music festival
        atmosphere on 10 stages</p>
        <h2 class="modal__h1">WHEN</h2>
        <p class="modal__p">2021-06-09</p>
        <h2 class="modal__h1">WHERE</h2>
        <p class="modal__p">Kyiv, Ukraine</p>
        <p class="modal__p" style="padding-top: 5px;">VDNH</p>
        <h2 class="modal__h1">WHO</h2>
        <p class="modal__p">The Black Eyed Peas</p>
        <h2 class="modal__h1">PRICES</h2>
        <p class="modal__p">Standart 300-500 UAH</p>
        <button class="modal__button">BUY TICKETS</button>
        <p class="modal__p">VIP 1000-1500 UAH</p>
        <button class="modal__button">BUY TICKETS</button>
        
    </div>
    
</div>
<div><button class="modal__more-from">MORE FROM THIS AUTHOR</button></div>

</div>
<!-- <script src="./js/open_modal.js"></script>
<script src="./js/modal.js"></script> -->
</div>

