<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,500;1,600&display=swap"
    rel="stylesheet">
</head>
<body class="modal__body">
    
<div class="modal__contener">

    <div modal__small-poster></div>
    <div class="container__event_card">
    <div><img src="./images/pic.png"></div>
    <div class="modal__text-container">
        <h2 class="modal__h1">INFO</h2>
        <p class="modal__p">Atlas Weekend is the largest music festival in Ukraine.More than 200 artists will create a proper music festival
        atmosphere on 10 stages</p>
        <h2 class="modal__h1">WHEN</h2>
        <p class="modal__p">2021-06-09</p>
        <h2 class="modal__h1">WHERE</h2>
        <p class="modal__p">Kyiv, Ukraine</p>
        <p class="modal__p" style="padding-top: 5px;">VDNH</p>
        <h2 class="modal__h1">WHO</h2>
        <p class="modal__p">The Black Eyed Peas</p>
        <h2 class="modal__h1">PRICES</h2>
        <p class="modal__p">Standart 300-500 UAH</p>
        <button class="modal__button">BUY TICKETS</button>
        <p class="modal__p">VIP 1000-1500 UAH</p>
        <button class="modal__button">BUY TICKETS</button>
        
    </div>
    
</div>
<!-- <div><button class="modal__more-from">MORE FROM THIS AUTHOR</button></div> -->
</div>
<script src="./js/modal.js"></script>
</body>