<section class="header-container">
  <div class="overlay">
    <a href="./index.html">
      <img src="images/logo-event-booster.png" alt="main logo" class="logo logo-desktop"/>
      <img src="images/logo-tablet.png" alt="main logo" class="logo logo-tablet"/>
      <img src="images/logo-mobile.png" alt="main logo" class="logo logo-mobile"/>
    </a>
    <header class="header-text animate__animated animate__bounce">
      <div>FIND BEST EVENTS</div>
      <div>AROUND THE WORLD</div>
    </header>
    <div class="search-boxes">
      <input type="text" class="search-input" onfocus="this.value=''" placeholder="Start searching"/>
      <img class="search-icon" src="images/search-icon.svg">
         <select class="search-select select-box selected" id="mySelect" name="countrySelect">
            <option class="search-option "  hidden value=""> Choose country</option>
            <option class="search-option "  value="pl"> Poland</option>
            <option class="search-option "  value="uk"> Great Britain</option>
            <option class="searc-option "  value="us"> USA</option>
            <option class="search-option "  value="es"> Spain</option>
          </select>

    </div>
    <div class="gradient"></div>
  </div>
</section>
