
@media screen and (max-width: 767px) {

    .footer {
    padding-top: 30px;
    padding-bottom: 24px;
    }

    .footer__text {
        display: block;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.21;
        text-align: center;
        color: #939393;
    }
}


@media screen and (min-width: 768px) and (max-width: 1279px) {

.footer {
    padding-top: 30px;
    padding-bottom: 40px;
    }
}

.footer__text {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.21;
    text-align: center;
    color: #939393;
}

@media screen and (min-width: 1280px) {
    .footer {
        padding-top: 37px;
        padding-bottom: 37px;
    }
  

  .footer__text {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    color: #939393;
  }
}
  


.footer__heart {
    animation: heartbeat 1s infinite;
    display: inline-block;
    color: red;
    font-size: 17px;
  }


  
 
  
 
  
  
  
  
  
  

