
.modal__body {
    // background-color: #0E0E0E;
}
  .modal__backdrop {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    z-index: 3;
      width: 100%;
      height: 100%;
      position: fixed;
      left: 0;
      top: 0;
      background-color: rgb(32, 13, 29, 0.6);
      transition-property: all;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

      @media (max-width: 767px) {
          width: 100vw;
      }

  }

  .is-hiddenn {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition-property: all;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transform: translate(50%, 50%);
      width: 0;
      height: 0;
  }


.modal__container {
    position: absolute;
    top: 9%;
    width: 930px;
    height: 1023px;
    background-color: #FFF2FD;
    border-radius: 300px 0px;
-webkit-box-shadow: -22px -18px 17px -3px rgba(150, 150, 163, 1);
    -moz-box-shadow: -22px -18px 17px -3px rgba(150, 150, 163, 1);
    box-shadow: -22px -18px 17px -3px rgba(150, 150, 163, 1);

    background-repeat: no-repeat;
    @media (max-width: 1280px) {
            width: 595px;
            height: 831px;
        }
    @media (max-width: 767px) {
       width: 272px;
       height: 915px;
       text-align: center;
    border-radius: 150px 0px;

    
    }
}
.container__event_card {
    display: flex;
    max-width: 1023px;
    max-height: 930px;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    max-height: 641px;
    margin-top: 41px;
    @media (max-width: 1280px) {}
    @media (max-width: 767px) {
            margin-top: 7.8px;
        }
}

.modal__button {
    color: #FFF2FD;
    border-color: transparent;
    background-color: #FFF2FD;
    font-size: 16px;
    font-weight: 500;
    font-style: none;
    margin-bottom: 10px;
    
    @media (max-width: 1280px) {}
    @media (max-width: 767px) {
          
        }
}

.modal__btn-buy {
        color: #FFFFFF;
            background-color: #4C00FE;
            border-radius: 5px;
            padding: 8px 12px 9px 10px;
            border-color: transparent;
            font-size: 16px;
            font-weight: 500;
            font-style: none;
        text-decoration: none;
        -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
            -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
            box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
     
        @media (max-width: 1280px) {}

        @media (max-width: 767px) {}
    }
.modal__button>a:hover {
    cursor: pointer;
    color: #FFF2FD;
    background-color: #cf1111;
    font-weight: 700;
    
    
}
.modal__h1 {
    color: #DC56C5;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin: 0px;
    text-shadow: 4px 5px 4px rgba(188, 206, 214, 1);
    @media (max-width: 1280px) {
            font-size: 20px;
            line-height: 24.38px;
        }
}
.modal__p {
    color: #0E0E0E;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    width: 450px;
    margin: 0px;
    padding-bottom: 20px;
    padding-top: 7px;
    @media (max-width: 1280px) {
        padding-top: 5px;
            padding-bottom: 10px;
            line-height: 19.5px;
            font-size: 16px;
            width: 265px;
    }
    @media (max-width: 767px) {
            width: 243px;
           
        }
}
.modal__more-from {
   z-index: 2000;
   cursor: pointer;
    margin-top: 45px;
    width: 255px;
    height: 40px;
    color: #4C00FE;
    font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        border: 1px solid #4C00FE;
        border-radius: 5px;
        -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
            -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
            box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
        @media (max-width: 1280px) {
            margin-top: 43px;
            width: 220px;
            height: 60px;
        }
        @media (max-width: 767px) {
                width: 230px;
                height: 60px;
                margin-top: 25px;
            }
}
.modal__more-from:hover {
    background-color: #cf1111;
    color: #FFF2FD;
    border-color: #cf1111;
}
.modal__small-poster {
    background-color: #0E0E0E;
    right: 50%;
    width: 144px;
    height: 144px;
    border-radius: 100px 100px;
    margin-top: 75px;
        margin-left: auto;
        margin-right: auto;
        @media (max-width: 1280px) {
            width: 70px;
            height: 70px;
        }
        @media (max-width: 767px) {
                width: 102px;
                height: 102px;
            }
}
.modal__small-poster-img {
    top: 0;
        width: 144px;
        height: 144px;
        border-radius: 100px 100px;
        border: 2px;
        -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
            -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
            box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
        @media (max-width: 1280px) {
                width: 70px;
                height: 70px;
            }
        
            @media (max-width: 767px) {
                width: 102px;
                height: 102px;
            }
        
}
.modal__text-container {
    padding-left: 60px;
    @media (max-width: 1280px) {
        padding-left: 30px;
    }
    @media (max-width: 767px) {
           padding-left: 0;
        }
}

.modal__esc {
    text-align: center;
    color: #4C00FE;
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: 30px;
    font-weight: 700;
    border: transparent;
    background-color: #FFF2FD;
    @media (max-width: 1280px) {
            right: 25px;
            top: 25px;
            font-size: 22px;
        }
}
.modal__esc:hover {
    color: #FFF2FD;
    border: 5px;
    background-color: #cf1111;
    border-radius: 50px;
    
}
.modal__big-img {
display: flex;
    display: block;
    position: relative;
    width: 360px;
        height: 641px;
        overflow: hidden;
        margin-left: 30px;
        -webkit-box-shadow: 22px 18px 17px 3px rgba(150, 150, 163, 1);
            -moz-box-shadow: 22px 18px 17px 3px rgba(150, 150, 163, 1);
            box-shadow: 22px 18px 17px 3px rgba(150, 150, 163, 1);
    @media (max-width: 1280px) {
        width: 233px;
        height: 416px;
    }

    @media (max-width: 767px) {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        width: 0;
        height: 0;
    }
}
 .modal__img_big {
    object-fit: cover;
    display: block;
    position: relative;
    width: 360px; 
    height: 641px;
    min-height: 641px;
box-sizing: border-box;
@media (max-width: 1280px) {
    width: 233px;
    height: 416px;
    min-height: 416px;
    margin-left: 10px;
    }
        @media (max-width: 767px) {
            margin-left: auto;
        }
 }
 .modal__svg-barcode {
   background-image: url(../images/icons/modal-ticket1.svg);
   width: 24px;
   height: 16px;
   @media screen and (min-width: 1280px) {
     width: 29px;
     height: 19.3px;
   }
 }